@import '../../styles/variables.scss';

.table-view {
  padding: 8px;
}

.tableView__task-name {
  display: inline-block;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.ant-table-tbody > .highlighted,
.ant-table-tbody > tr.highlighted:hover {
  & > td,
  & > td:first-child,
  & > td:last-child {
    border-color: $primary-hover;
  }
}
.delete-row{
  margin: 0px 10px;
  color: #1890ff;

  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
// .ant-table-tbody > .highlighted > td:first-child {
//   border-left: thin solid;
// }

// .ant-table-tbody > .highlighted > td:last-child {
//   border-right: thin solid;
// }
