.table-view {
  padding: 8px;
}

.facultativeStyle {
  background-color: #F1EBF9;
}

.youtubeLiveStyle {
  background-color: #d9edf7;
}

.taskStyle {
  background-color: #fcf8e3;
}

.selfEducationStyle {
  background-color: #dff0d8;
}

.meetUpStyle {
  background-color: #E5D5CC;
}

.deadlineStyle {
  background-color: #f2dede;
}

.noTypeStyle {
  background-color: #f1f3f8;
}