$default-bg: #f2f2f2;
$primary-bg: #e6eef0;
$success-bg: #e6f0e9;
$warning-bg: #f0efe6;
$danger-bg: #f0e6ef;
$primary-dark-bg: #e1e7f7;
$warning-dark-bg: #e9ddd1;
$danger-dark-bg: #ffe4fc;

$primary-hover: #59a5d8;

$border-width: 2px;
$border-radius: 2px;

$def-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
