@import '../../styles/variables.scss';

.editScheduleButtonStyle {
  margin-right: 23px;
}

$border-width: 2px;
$border-radius: 2px;

$rows: (
  'facultative': $danger-bg,
  'youtube-live': $primary-dark-bg,
  'task': $warning-dark-bg,
  'self-education': $success-bg,
  'meetup': $warning-bg,
  'deadline': $danger-dark-bg,
  'no-type': $primary-bg,
);

@each $type, $color in $rows {
  .row-#{$type} {
    background-color: $color;
  }

  .ant-table-tbody > .row-#{$type} {
    & > td {
      border-top: $border-width solid $color;
      border-bottom: $border-width solid $color;
    }

    & > td:first-child {
      border-left: $border-width solid $color;
      border-radius: $border-radius 0 0 $border-radius;
    }

    & > td:last-child {
      border-right: $border-width solid $color;
      border-radius: 0 $border-radius $border-radius 0;
    }
  }

  .ant-list-items .row-#{$type} {
    border: $border-width solid $color;
  }

  .ant-table-tbody > tr.row-#{$type} {
    &:hover > td {
      background-color: $default-bg;
      border-color: $default-bg;
    }
  }
  .ant-btn-group{
    margin-left: 5px;
  }
  #download-links{
    margin-top: 15px;
    display: none;

    & a {
      margin-left: 6px;
    }
  }
}
