$default-bg: #F2F2F2;
$primary-bg: #E6EEF0;
$success-bg: #E6F0E9;
$warning-bg: #F0EFE6;
$danger-bg: #F0E6EF;
$primary-dark-bg: #E1E7F7;
$warning-dark-bg: #E9DDD1;
$danger-dark-bg: #FFE4FC;

$primary-hover: #59a5d8;
